
/*details のメディアクエリ　de~にしている。*/
  @media (max-width:1030px){
   
    
     
    .deincident{
      width:100%;
     }
    .deincident p{
      font-size:15px;
     }
    .demain{
      padding:0 30px;
      margin:0 auto;
      height:1800px;
     }

  }
  @media (max-width:900px){
    .demain {
      height:2200px;
      padding:0 30px;
      margin:0 auto;
    }
  }
  @media (min-width:1030px){
    .delink{
      position:absolute;
      right:50px;
      top:400px;
    }
    .demain{
      padding:0 20px;
      margin:0 auto;
    }
  }
  
  /*目次のメディアクエリ*/
   @media (max-width:1180px){
     .inmain{
       padding:0 30px;
       margin:0 auto;
     }
   }
   @media (max-width:900px){
     .content{
       flex:auto;
       width:80%;
       margin-bottom:50px;
     }
     .inmain{
       padding:0 15px;
       margin:0 auto;
     }
     header{
       width:100%;
     }
    }
    
     @media all and (orientation: portrait){
     header{
     max-width:800px;
     min-width:200px;
     position:fixed;
     width:100%;
     top:0;
     opacity:1;
     z-index:15;
     }
     .menu{
     display:none;
     }
     .content{
       flex:auto;
       width:100%;
       margin-bottom:50px;
       }
       .top{
       max-width:450px;
       }
       .inmain{
       height:3000px;
       }
       footer{
       bottom:0px;
       }
    .fx1 {
    display:inline-block;
    float:right;
    position:relative;
    max-width:500px;
    width:85px;
    height:100px;
    
    
    }
.fx2 {
    max-width:450px;
    display:inline-block;
    height:52px;
    width:85px;
    line-height:52px;
    background-color:red;
  /*#bf501d;*/
    color:white;
    padding:0 10px;
    font-weight:bold;
    overflow:visible;
}

.checkedexample input {
    display: none;
}

.checkedexample .appear {
    width:85px;
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
    background-color:#53556e;
}

.checkedexample input:checked ~ .appear {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}
.barClick{
display:block;
margin-bottom:4px;
margin-left:5px;
color:white;}
     
     .inmain{
     margin-top:60px;
     }
     }
    
   /*はじめにのメディアクエリ*/
    @media (max-width:1080px){
     .hamain{
       padding:0 30px;
       margin:0 auto;
     }
   }
